---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Mohammad Fallah &middot; <a href="/rss.xml">RSS</a>
</footer>
<style>
	footer {
		margin: 0 auto;
		width: 680px;
		max-width: calc(100% - 2em);
		padding: 2em 1em;
		border-top: 1px solid var(--border);
		color: var(--text-light);
		font-size: 0.9em;
	}
	footer a {
		color: var(--text-light);
	}
</style>
