---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		width: 680px;
		max-width: calc(100% - 2em);
		padding: 1em;
		border-bottom: 1px solid var(--border);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		color: var(--text);
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0 0.5em;
		color: var(--text);
		text-decoration: none;
	}
	nav a.active {
		font-weight: 700;
	}
	nav a:hover {
		color: var(--accent);
	}
</style>
